<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.im.imonline.api.tests.BackofficeMerchandisingRuleAPITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogOutModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogOutModeSpecificProductLocGlobal</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeLocCatSubCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTrendingProductsRuleInLogInModeSpecificProduct</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogOutModeLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogInModeLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogInModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBackgroundAdvertRuleInBothMode</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogOutModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogInModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogInModeLocVendorProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeDynamicProductLocKeyword</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogInModeLocKeywordCat</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInBothModeSpecificProductLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogInModeLocProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleInBothModeSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogInModeDynamicProductLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleInLogInModeSpecificProduct</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogInModeLocProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogOutModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogOutModeDynamicProductLocCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogInModeSpecificProductLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogOutModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogInModeDynamicProductLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZone223RuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeLocCatSubCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeSpecificProductLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogInModeNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogInModeSpecificProductLocVendorProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogOutModeLocCatSubCatProdType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogInModeSpecificProductLocGlobalFieldsCategory</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogOutModeLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeLocKeyword</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogOutModeLocCatSubCatProdType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogInModeLocCatProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBuyItAgainRuleInBothModeDynamicProductByCatSubCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogOutModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogOutModeLocCatAndVendor</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogOutModeLocCatSubCatProdType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogInModeLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone223RuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogOutModeSpecificProductLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogOutModeSpecificProductLocGlobalFieldsVendor</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogInModeSpecificProductLocProdStatus</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleNegativeExpireRuleSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogOutModeLocCatAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogInModeSpecificProductLocVendorProdStatus</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleInBothModeSpecificProduct</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeDynamicProductLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleInLogOutModeSpecificProduct</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogOutModeDynamicProductLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleInBothModeDynamicProductByType</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogOutModeSpecificProductLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogOutModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeLocCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagebackgroundAdvertRuleInLogInModeLocGlobalFieldsCategory</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogOutModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogInModeLocCatProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogInModeLocKeywordCat</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeModeSpecificProductLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogInModeLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeSpecificProductLocGlobal</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogOutModeLocCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleNegativeExpireRuleSpecificProduct</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogInModeLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleInBothModeSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone223RuleInLogInMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogInModeNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZone223RuleInLogOutMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogInModeLocKeywordCat</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagebackgroundAdvertRuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTextAdsRuleInBothMode</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogInModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneBackgroundAdvertRuleInLogOutMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleNegativeExpireRuleDynamicProductByCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogOutModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBuyItAgainRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeDynamicProductLocVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogOutModeLocCatAndVendor</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogInModeLocCatProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogInModeLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleInLogInModeSpecificProduct</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogInModeNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogInModeSpecificProductLocGlobalFieldsCategory</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogOutModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogInModeLocVendorProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeLocKeyworAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogInModeNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone497RuleInLogInModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInBothModeSpecificProductLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogOutModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogOutModeSpecificProductLocCatSubCatProdType</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogInModeLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeLocGlobal</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleNegativeExpireRuleDynamicProductByCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogInModeLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogOutModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleInBothModeDynamicProductByType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogOutModeLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogInModeLocVendorProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogInModeSpecificProductLocGlobalFieldsCategory</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone497RuleInBothMode</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeDynamicProductLocKeyword</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogOutModeLocCatAndVendor</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZone223RuleInBothModeNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeDynamicProductLocCatSubCatVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeDynamicProductLocVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone223RuleInBothModeNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleInBothModeSpecificProduct</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogOutModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogOutModeNegativeExpireRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogInModeDynamicProductNegativeExactLoc</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogInModeLocVendorProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogOutModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeLocVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneYouMayAlsoLikeItRuleInBothModeDynamicProductByType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogInModeDynamicProductLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleNegativeExpireRuleSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogOutModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogOutModeDynamicProductLocCatAndVendor</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeSpecificProductLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTextAdsRuleInBothModeNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogOutModeLocCatAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeLocKeyword</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogOutModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogOutModeLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogInModeSpecificProductLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogInModeSpecificProductLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZone223RuleInLogInMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogOutModeLocCatAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogInModeLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogInModeNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTextAdsRuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogInModeLocProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogOutModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeSpecificProductLocKeyworAndVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogOutModeLocGlobalFieldsVendor</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleNegativeExpireRuleSpecificProduct</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogOutModeLocGlobal</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeDynamicProductLocKeyword</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneBackgroundAdvertRuleInLogInModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogOutModeLocCatSubCatProdType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBuyItAgainRuleNegativeExpireRuleSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogOutModeLocCatAndVendor</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogOutModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeModeLocGlobalFieldsSku</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeLocCatSubCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogOutModeDynamicProductLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneTextAdsRuleInLogOutMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleNegativeExpireRuleDynamicProductByCat</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBackgroundAdvertRuleInLogInModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInBothModeLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogOutModeLocCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInBothModeLocCatSubCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogInModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneYouMayAlsoLikeItRuleInBothModeDynamicProductByCatSubCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeSpecificProductLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogInModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleNegativeExpireRuleSpecificProduct</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogInModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeLocKeyworAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeLocKeyword</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBuyItAgainRuleInLogInModeSpecificProduct</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogInModeDynamicProductLocCatProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogInModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleNegativeDeactiveRule</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogInModeLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeModeSpecificProductLocGlobalFieldsSku</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogInModeLocVendorProdStatus</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeLocCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogOutModeSpecificProductLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogInModeNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogInModeDynamicProductLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogInModeNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone497RuleInLogOutMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeDynamicProductLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogInModeLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogInModeLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleInLogOutModeSpecificProduct</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeLocGlobal</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeDynamicProductLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneYouMayAlsoLikeItRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInBothModeDynamicProductLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleInLogOutModeSpecificProduct</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleNegativeExpireRuleSpecificProduct</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogInModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeLocCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneBackgroundAdvertRuleInBothMode</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogOutModeSpecificProductLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogOutModeLocCatAndVendor</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtRuleInBothModeModeSpecificProductLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleInBothModeDynamicProductByType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeLocKeywordCat</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogInModeLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogInModeLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeModeLocGlobalFieldsSku</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleInLogOutModeSpecificProduct</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogInModeDynamicProductLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBackgroundAdvertRuleInBothModeNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogOutModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogInModeSpecificProductLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogOutModeLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogInModeSpecificProductLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogOutModeNegativeExpireRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogInModeNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInBothModeLocKeyword</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeLocGlobal</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogInModeLocCatProdStatus</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneTextAdsRuleInLogInModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogOutModeSpecificProductLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleInLogInModeSpecificProduct</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogInModeNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZone223RuleInBothMode</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleInLogInModeDynamicProductByCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogInModeLocGlobal</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogOutModeDynamicProductLocCatVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogInModeNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogInModeDynamicProductLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeSpecificProductLocKeywordCat</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagebackgroundAdvertRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBackgroundAdvertRuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogInModeLocProdStatus</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogOutModeLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleInLogOutModeDynamicProductByVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogOutModeLocCatAndVendor</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogInModeSpecificProductLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeLocGlobal</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogInModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogInModeSpecificProductLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleInLogOutModeDynamicProductByVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeSpecificProductLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogOutModeLocCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogInModeSpecificProductLocProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogInModeNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogOutModeSpecificProductLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleNegativeExpireRuleSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogOutModeLocCatAndVendor</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleNegativeExpireRuleDynamicProductByCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeLocGlobal</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeSpecificProductLocKeyworAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneTextAdsRuleInBothModeNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogInModeLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogInModeSpecificProductLocVendorProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogInModeDynamicProductLocCatProdStatus</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogInModeDynamicProductLocKeywordCat</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInBothModeLocKeyworAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTrendingProductsRuleInBothModeSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogOutModeNegativeExpireRule</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogOutModeLocKeyword</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeLocCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogOutModeNegativeExpireRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInBothModeDynamicProductLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogInModeLocGlobalFieldsCategory</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTrendingProductsRuleInBothModeDynamicProductByType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeDynamicProductLocVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogOutModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogOutModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneBackgroundAdvertRuleInBothModeNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogInModeLocKeywordCat</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeSpecificProductLocCat</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleInLogInModeDynamicProductByCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeLocVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogOutModeDynamicProductLocCatAndVendor</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBuyItAgainRuleInBothModeSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeLocVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogInModeLocGlobalFieldsCategory</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleNegativeDeactiveRule</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeLocGlobal</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogInModeLocProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogInModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeLocKeyword</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeDynamicProductLocCatSubCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone223RuleInLogInModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleInLogInModeSpecificProduct</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeLocCatSubCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogOutModeSpecificProductLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogOutModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogOutModeSpecificProductLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogOutModeSpecificProductLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogInModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogInModeLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeLocVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogInModeNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogInModeSpecificProductLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogInModeLocCatProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogOutModeLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogInModeLocCatProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeModeSpecificProductLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogInModeLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBackgroundAdvertRuleInLogInMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneTextAdsRuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogOutModeLocCatAndVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeLocVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogOutModeLocCatAndVendor</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogInModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogOutModeSpecificProductLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInBothModeLocCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogInModeLocKeywordCat</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneYouMayAlsoLikeItRuleNegativeExpireRuleSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeModeSpecificProductLocGlobalFieldsSku</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogOutModeLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogInModeSpecificProductLocProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeDynamicProductLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogInModeLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneBackgroundAdvertRuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTextAdsRuleInLogInMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleInBothModeDynamicProductByCatSubCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneYouMayAlsoLikeItRuleInLogInModeDynamicProductByCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogOutModeDynamicProductLocCatAndVendor</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogInModeLocKeywordCat</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogInModeLocProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeSpecificProductLocCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleInBothModeDynamicProductByType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeLocKeyworAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeLocGlobal</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneYouMayAlsoLikeItRuleInBothModeSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogInModeLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogInModeLocCatProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogInModeSpecificProductLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogOutModeLocCatSubCatProdType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone223RuleInLogOutMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleInLogOutModeDynamicProductByVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTextAdsRuleInLogInModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogOutModeDynamicProductLocCatAndVendor</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeSpecificProductLocKeyworAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInBothModeDynamicProductLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogOutModeLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogOutModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DeleteAllRules</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBuyItAgainRuleInLogInModeDynamicProductByCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogOutModeLocCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogInModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleNegativeExpireRuleSpecificProduct</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtNegativeExpireRuleSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeLocGlobal</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogOutModeNegativeExpireRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogOutModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBackgroundAdvertRuleInLogOutMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogOutModeDynamicProductLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogInModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtRuleInLogInModeSpecificProductLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInBothModeLocVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogInModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogInModeLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogOutModeDynamicProductLocCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone223RuleInBothMode</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogOutModeLocCatSubCatProdType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZone223RuleInLogInModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogOutModeLocCatVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogInModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleInLogInModeDynamicProductByCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogOutModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogInModeNegativeExactLoc</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeLocCat</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogOutModeLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogOutModeNegativeExpireRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeLocKeyworAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogOutModeLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeLocCatSubCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogInModeSpecificProductLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtRuleInLogOutModeSpecificProductLocGlobalFieldsVendor</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogOutModeLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeDynamicProductLocKeyword</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogOutModeLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeDynamicProductLocKeyword</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInBothModeLocKeyword</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeSpecificProductLocGlobal</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogInModeLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogInModeSpecificProductLocGlobal</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogOutModeDynamicProductLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogOutModeLocCatSubCatProdType</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogOutModeLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogOutModeLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogInModeLocVendorProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogOutModeLocCatAndVendor</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogInModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogOutModeLocCatAndVendor</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogOutModeLocCatSubCatProdType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogInModeLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInBothModeLocGlobal</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleNegativeExpireRuleSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeSpecificProductLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInBothModeLocGlobal</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneFeaturedCatRuleInBothModeDynamicProductByCatSubCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogOutModeSpecificProductLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogOutModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogInModeLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeLocVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleNegativeDeactiveRule</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneBackgroundAdvertRuleInLogInMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogInModeDynamicProductLocCatProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInLogInModeLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogOutModeDynamicProductLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTrendingProductsRuleInLogInModeDynamicProductByCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeLocGlobal</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogOutModeSpecificProductLocCatSubCatProdType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogInModeDynamicProductLocCatProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogInModeNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInLogInModeLocKeywordCat</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeSpecificProductLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogInModeDynamicProductLocKeywordCat</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTrendingProductsRuleInBothModeDynamicProductByCatSubCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone497RuleInLogInMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogOutModeDynamicProductLocKeyword</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeLocCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogInModeLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogInModeLocGlobalFieldsCategory</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInBothModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogOutModeDynamicProductLocCatAndVendor</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeLocKeyworAndVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogOutModeLocCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogOutModeNegativeExpireRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneYouMayAlsoLikeItRuleInLogInModeSpecificProduct</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogInModeSpecificProductLocProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePromotionRuleInLogOutModeDynamicProductByVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeSpecificProductLocCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogOutModeSpecificProductLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogInModeSpecificProductLocGlobal</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTrendingProductsRuleNegativeExpireRuleSpecificProduct</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInBothModeSpecificProductLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTrendingProductsRuleNegativeDeactiveRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone497RuleInLogOutModeNegativeExpireRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageTextAdsRuleInBothModeLocKeyword</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInBothModeSpecificProductLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInLogOutModeDynamicProductLocKeyword</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageYouMayAlsoLikeRuleInLogOutModeDynamicProductLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageMiddleBannerRuleInLogInModeLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeModeLocGlobalFieldsSku</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleNegativeDeactiveRule</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeLocGlobal</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogOutModeDynamicProductLocCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleInBothModeDynamicProductByCatSubCat</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogInModeSpecificProductLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInLogInModeSpecificProductLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZonePPRRuleInBothModeDynamicProductByCatSubCat</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInLogOutModeSpecificProductLocCatSubCatProdType</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeSpecificProductLocCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeSpecificProductLocGlobal</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneBuyItAgainRuleInBothModeDynamicProductByType</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPRRuleInBothModeSpecificProductLocGlobal</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleInLogOutModeLocCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogInModeLocVendorProdStatus</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneTextAdsRuleInBothMode</td>
<td>P1 Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogOutModeNegativeExpireRule</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePPCRuleInBothModeDynamicProductLocCatSubCatVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeLocCatSubCatVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInLogInModeLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBackgroundAdvertRuleInLogInModeLocProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeLocKeyworAndVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZoneTextAdsRuleInLogInMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInBothModeLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneTextAdsRuleInLogOutMode</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInLogInModeLocGlobalFieldsCategory</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInLogInModeLocKeywordCat</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInLogOutModeSpecificProductLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogInModeLocVendorProdStatus</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeLocKeyword</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInLogOutModeDynamicProductLocCatAndVendor</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPagePeopleAlsoBoughtInBothModeSpecificProductLocGlobal</td>
<td>P1 Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInBothModeLocVendor</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPage223RuleInBothModeModeLocGlobalFieldsSku</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage223RuleInBothModeLocCatSubCatVendor</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInLogOutModeLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSponsoredProductsRuleInBothModeModeSpecificProductLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBackgroundAdvertRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageMiddleBannerRuleInLogInModeLocGlobal</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTopBannerRuleInLogOutModeLocGlobalFieldsVendor</td>
<td>P1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageSkyScraperBannerRuleInBothModeModeLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageYouMayAlsoLikeRuleInBothModeSpecificProductLocKeywordCat</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPage497RuleInBothModeLocKeywordCat</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageBottomBannerRuleInBothModeDynamicProductNegativeExactLoc</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageRecommendedRuleInBothModeModeSpecificProductLocGlobalFieldsSku</td>
<td>API BackOffice </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleInLogInModeDynamicProductByCat</td>
<td>Legacy Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductLandingZone497RuleInBothModeNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductDetailPageBottomBannerRuleInBothModeLocKeyworAndVendor</td>
<td>Redesign </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchPageTextAdsRuleNegativeDeactiveRule</td>
<td>Legacy </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageZoneRecommendedRuleNegativeDeactiveRule</td>
<td>P1 Legacy Redesign </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setPlatform</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
